# jupyter
.ipynb_checkpoints/
*checkpoint.ipynb

# IDE
.idea

# data + results
data/
results/

# Python
*__pycache__*
*egg-info/
dist/
build/

# Mac
.DS_Store
/configs/old/
.vscode/settings.json
doc/notebooks/BF_Example_Train_Predict/TweetyNet/events.out.tfevents.1595982790.DESKTOP-HGJF5I6.20420.0TweetyNet
doc/notebooks/Canary_train_and_predict.ipynb
doc/notebooks/Canary_Example_Train_Predict/annotated_prep_llb11_example.csv
src/configs/Canaries/llb16/llb16_eval_080320.toml
src/configs/Canaries/llb16/llb16_evade_080320.toml
src/scripts/Canaries/eval.sh

# latex build files
doc/article/tweetynet-paper.aux
doc/article/tweetynet-paper.bbl
doc/article/tweetynet-paper.blg
doc/article/tweetynet-paper.log
doc/article/tweetynet-paper.out
doc/article/tweetynet-paper.pdf
doc/article/tweetynet-paper.synctex.gz
