# jupyter
.ipynb_checkpoints/
*checkpoint.ipynb

# IDE
.idea
.vscode/settings.json

# data + results
article/data/
article/results/

# Python
*__pycache__*
*egg-info/
dist/
build/
.venv

# Mac
.DS_Store

# latex build files
doc/article/tweetynet-paper.aux
doc/article/tweetynet-paper.bbl
doc/article/tweetynet-paper.blg
doc/article/tweetynet-paper.log
doc/article/tweetynet-paper.out
doc/article/tweetynet-paper.pdf
doc/article/tweetynet-paper.synctex.gz
